body{
    width: auto;
    height: auto;
background:url(/img/bg2.jpg);
background-repeat: no-repeat; /* Evita que la imagen se repita */
            background-size: cover; /* Hace que la imagen cubra todo el fondo */
            
}
.imajen{
    display: flex;
    justify-content: center;
    border-radius: 20%;

}